:root {
  --white: #ffffff;
  --bg: #484283;
  --accent: #f14f4f;
  --accent-hover: #cc4949;
  --accent-active: #8c2828;
  --text: #444b58;
  --small-text: #dbbba9;
  --sec-bg: #fff4ee;
  --gray: #b2b5bb;
}
