@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-regular.woff2") format("woff2"),
    url("../fonts/inter-regular.woff") format("woff");
}

@font-face {
  font-family: "Intro";
  src: url("../fonts/intro_bold.woff2") format("woff2"),
    url("../fonts/intro_bold.woff") format("woff");
}

@font-face {
  font-family: "Intro";
  src: url();
}
